#
# generic stuff
#
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.pc
*.pyc
*.so
*.so.*
*.static
*.swp
*.vim
*.[ao]
*~
.clang_complete
.deps
.dirstamp
.libs
.tarball-version
.version
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
config/ltmain.sh
config/py-compile
config/test-driver
configure
cscope.out
depcomp
INSTALL
install-sh
libtool
m4/*.m4
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1
tags
update.log

# generated
libbex/src/libbex.h

#
# binaries
#
bex-fetch
